
/* PC   */
@media (min-width: 1024px) {
    body {
        font-size: 1.2rem;
    }
}

/* Tablet */ 
@media (min-width: 740px) and (max-width: 1023px) {
    body {
        font-size: 0.8rem ;
    }
}

/*  Mobile  */
@media (max-width: 740px) {
    body {
        font-size: 0.4rem;
    }
}