div{
	display: block;
}

img{
	width: 100%;
	height: 100%;
}

body{
	font-family: Arial;
	font-size: 15px;
    width: 100%;
    height: 1000px;
    background-color: #a83232;
}

header{
	text-align: center;
	margin-top: 50px;
	border: none;
	color: white;
}

footer{
	margin-top: 50px;
}

.fa{
	  padding: 20px;
	  font-size: 20px;
	  width: 50px;
	  text-align: center;
	  text-decoration: none;
	  color: white;
}

.fa:hover {
  opacity: 0.7;
}

 .AboutMe {
	height: 400px;
	margin-top: 40px;
}

 .Projects {
	height: 300px;
	margin-top: 40px;
}

.Contact {
	height: 450px;
	margin-top: 40px;
}

.Skills {
	height: 300px;
	margin-top: 40px;
}

 label{
	font-size: 25px;
	font-weight: bold;
	margin: 70px 70px 40px 70px;
}

.form-group{
	margin-left: 70px;
	display: flex;
}

.logo{
	height: 200px;
	width:	30%;
	margin-right: 30px;
}

.content{
	margin-left: 30px;
	width: 60%;
}


.form-group{
	margin-bottom: 15px;
}

.form-control{
	width: 90%;
	height: 43px;
	border-radius: 8px;
	border: solid 1px transparent;
	background-color: #eee;
}

.btn{
	background-color: red;
	border: solid 1px transparent;
	border-radius: 50px;
}




