div {
    display: block;
}

img {
    max-width: 100%;
}

#rotate {
    transition: 1.5s ease-out;
}

#rotate:hover {
    transform: rotate(1turn);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    margin: 0px ;
    padding: 0px;
    top:0;
    bottom: 0px;
    background-image: url(https://img.freepik.com/free-vector/flowing-speed-lines-technology-background_1017-31772.jpg?w=2000);
    background-size: contain;
    
}

header {
    max-height: 200px;
    text-align: center;
    border: none;
    color: white;
    font-weight: bold;
}

main {

    margin-top: 0px;
}

footer {
    
}

header audio {
    margin: 15px 0px;
}

header .social-list .fa {
    font-size: 20px;
    max-width: 50px;
    text-decoration: none;
    color: white;
    padding: 20px;
}

header .social-list .fa:hover {
    opacity: 0.7;
}

.nav-form {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px black;
    background-color: #eee;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin: 50px 50px 30px 50px;
    height: 20% auto;
    color: orange;
}

.form-group {
    height: 80%;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.logo {
    height: 100%;
    width: 35%;
    margin-right: 10px;
}

.content {
    height: 100%;
    width: 65%;
    margin-left: 10px;
}

.form-control {
    width: 90%;
    height: 43px;
    border-radius: 8px;
    border: solid 1px transparent;
    background-color: #eee;
}

.btn {
    background-color: red;
    border: solid 1px transparent;
    border-radius: 50px;
}

footer .introduction {
    padding-top: 20px;
}





